.swiper-button-prev::after,
.swiper-button-next::after {
  color: black;
  @apply text-[25px] px-3 py-2 rounded-full bg-white shadow-xl;
}

.swiper-button-prev::after {
  @apply relative right-3;
}

.swiper-button-next::after {
  @apply relative left-3 overflow-visible;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
